.content{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}

body{
    background-color:lightgray;
}

.card{
    margin-bottom: 10%;
}

.top{
    background-color: rgb(136, 88, 175);
    margin-bottom: 5%;
}