.actionrequired:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    border-width: 4px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(168, 22, 0, 0.4);
    /* Red transparent overlay */
    opacity: 0.3;
    /* Visible at all times */
    z-index: 1;
}

.overlaygrey {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(149, 149, 149, 0.7);
    /* Red transparent overlay */
    opacity: 0.3;
    /* Visible at all times */
    z-index: 1;
}

.calendar {
    border-collapse: collapse;
    background: white;
    color: black;
    text-align: center;
}

.checkprod {
    flex-grow: 1;
}


.full-height-row {
    display: flex;
    align-items: stretch;
}

.full-height-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}