.dashboard-title {
    font-size: 2rem;
}


.profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }


.sales-list {
    list-style: none;
    padding-left: 0;
}
.sales-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}


 /* Style for active tab */
 .active-tab {
    font-weight: bold;
    color: #dc3545;
    border-bottom: 2px solid #dc3545;
  }

  /* Custom table header style */
  table thead {
    background-color: #f8f9fa;
    font-weight: bold;
  }

  /* Custom button-like status styles */
  .status {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    color: #fff;
    text-align: center;
  }
  .status-success { background-color: #28a745; }
  .status-open { background-color: #fd7e14; }
  .status-return { background-color: #6f42c1; }
  .status-process { background-color: #ffc107; }